@import url('brown/style.css');

Constants{
	launchpadmenubarbackground: #c6a782;
	homeLaunchpadSeparatorbackground: #eeeeee;
	colorsummarynews: #f6d8ae;
	noconverticons: images-admin/link_broken_24.png com/opentach/client/rsc/pf.png com/opentach/client/rsc/titulo.jpg com/opentach/client/rsc/flag_spain24.png com/opentach/client/rsc/flag_portugal24.png com/opentach/client/rsc/flag_great_britain24.png com/opentach/client/rsc/flag_france24.png com/opentach/client/rsc/flag_germany24.png com/opentach/client/rsc/flag_itaty24.png com/opentach/client/rsc/catalunya24.png com/opentach/client/rsc/opentach.png com/opentach/client/rsc/opentach32.png com/opentach/client/rsc/titulo.jpg cargando.jpg cargando_white.jpg com/opentach/client/rsc/AppBackground.png com/opentach/client/rsc/publi_remote.png com/opentach/client/rsc/publi_flota.png com/opentach/client/rsc/jaltest24.png com/opentach/client/rsc/delivery_truck24.png com/opentach/reports/ico.png;
	backgroundactivitychart: #c6a782;
	
	navigatorheaderleftimage: com/opentach/client/rsc/navigator/menuGroupHeaderLeft.png;
}


ActivityChart {
	legedForeground:#1c304b;
	activityWork:#002eed;
	activityAvailable:#55d500;
	activityRest:#fffe00;
	activityDriving:#e11c00;
	activityUndefined:#fe6c0c;
	activityBoxTop:converticoncolor;
	activityBoxBottom:converticoncolor;
	activityBottomShadow:#000000;
	underlinesBackground:#57627e;
	underlinesRegimen:#FF0000;
	underlinesOrigin:#ffff00;
	underlinesOutOfScope:#000000;
	underlinesFerry:#ffffff;

	background:backgroundactivitychart;
	separatorBackground:converticoncolor;
	separatorBorderSecond:backgroundactivitychart;
	separatorBorderFirst:converticoncolor;		
	
	lineBottom:backgroundactivitychart;
	lineTop:converticoncolor;
	vaxisDateForeground:#ffffff;
	vaxisDayForeground:#4b4b4b;
	vaxisDateGradientFirst:converticoncolor;
	vaxisDateGradientSecond:converticoncolor;
	vaxisLegendFont:Arial-BOLD-8;
	vaxisDateFont:Arial-BOLD-12;
	vaxisDayFont:Arial-BOLD-10;
	haxisForeground:#4b4b4b;
	
	sumIconForeground:converticoncolor;
	sumIconBorder:converticoncolor;
	sumIconInnerBorder:#ffffff;
	sumIconBackground:backgroundactivitychart;
	
	controlPanelFont:Arial-BOLD-14;
	controlPanelTitleForeground:converticoncolor;
	controlPanelTitleDateBackground:converticoncolor;
	controlPanelBackground:backgroundactivitychart;
}

StatusBarLabels {
	colorUserLabel:#0A0A0A;
	colorAppVersion:#fd4040;
}

"activitygraphbutton" {
	contentMargins:1 1 1 1;
	background:buttonbackground;
	font:Verdana-BOLD-12;
	textForeground:#FFFFFF;
	[Disabled].textForeground:#646464;
	[Default].alphaTransparency:1.0;
	[Default+Focused].alphaTransparency:1.0;
	[Default+MouseOver].alphaTransparency:0.3;
	[Default+Focused+MouseOver].alphaTransparency:0.3;
	[Default+Pressed].alphaTransparency:0.5;
	[Default+Focused+Pressed].alphaTransparency:0.5;
	[Disabled].alphaTransparency:0.1;
	[Enabled].alphaTransparency:1.0;
	[Focused].alphaTransparency:1.0;
	[MouseOver].alphaTransparency:0.3;
	[Focused+MouseOver].alphaTransparency:0.3;
	[Pressed].alphaTransparency:0.1;
	[Focused+Pressed].alphaTransparency:0.5;	
	[MouseOver].textForeground:#ffffff;
	[Enabled].border:#ffffff;
}

"CHART_RESUME_LABEL" {
	font:Verdana-PLAIN-10;
	foreground:#ff0000;
}

"PhoneNumber" {
	font:Verdana-PLAIN-10;
	foreground:converticoncolor;
	disabledText: converticoncolor;
	[Enabled].textForeground: converticoncolor;
	[Disabled].textForeground: converticoncolor;
	[Focused].textForeground: converticoncolor;
	[Selected].textForeground: converticoncolor;
}


"NoMarginsButton" {
	contentMargins:0 0 0 0;
	defaultButtonFollowsFocus:false;
	font:buttonfont;
	textForeground:buttonenabledtextforeground;
	background:buttonbackground;
	[Disabled].textForeground:buttondisabledtextforeground;
	[Enabled].textForeground:buttonenabledtextforeground;
	[Focused].textForeground:buttonenabledtextforeground;
	[MouseOver].textForeground:buttonmouseovertextforeground;
	[Focused+MouseOver].textForeground:buttonmouseovertextforeground;
	[Pressed].textForeground:buttonmouseovertextforeground;
	[Focused+Pressed].textForeground:buttonmouseovertextforeground;
	[Default].textForeground:buttonenabledtextforeground;
	[Default+Focused].textForeground:buttonenabledtextforeground;
	[Default+MouseOver].textForeground:buttonmouseovertextforeground;
	[Default+Focused+MouseOver].textForeground:buttonmouseovertextforeground;
	[Default+Pressed].textForeground:buttonmouseovertextforeground;
	[Default+Focused+Pressed].textForeground:buttonmouseovertextforeground;
	[Default].alphaTransparency:0.5;
	[Default+Focused].alphaTransparency:0.5;
	[Default+MouseOver].alphaTransparency:0.5;
	[Default+Focused+MouseOver].alphaTransparency:0.5;
	[Default+Pressed].alphaTransparency:0.5;
	[Default+Focused+Pressed].alphaTransparency:0.5;
	[Enabled].alphaTransparency:0.3;
	[Focused].alphaTransparency:0.3;
	[MouseOver].alphaTransparency:0.5;
	[Disabled].alphaTransparency:0.5;
	[Focused+MouseOver].alphaTransparency:0.5;
	[Pressed].alphaTransparency:0.5;
	[Focused+Pressed].alphaTransparency:0.5;
}

"PreferencesButton"{
    font: toolbarbuttonfont;
    contentMargins: toolbarbuttoncontentmargins;
    size: toolbarsize;
    textForeground: toolbarbuttonforeground;
        
    background: toolbarbuttonbackground;
    
    [Default].alphaTransparency:0.5;
	[Default+Focused].alphaTransparency:0.5;
	[Default+MouseOver].alphaTransparency:0.5;
	[Default+Focused+MouseOver].alphaTransparency:0.5;
	[Default+Pressed].alphaTransparency:0.5;
	[Default+Focused+Pressed].alphaTransparency:0.5;
	[Enabled].alphaTransparency:0.3;
	[Focused].alphaTransparency:0.3;
	[MouseOver].alphaTransparency:0.5;
	[Disabled].alphaTransparency:0.5;
	[Focused+MouseOver].alphaTransparency:0.5;
	[Pressed].alphaTransparency:0.5;
	[Focused+Pressed].alphaTransparency:0.5;
}

"launchpadmenubar"{
    contentMargins: containercontentmargins;
    opaque: true;
    /*bgpaint: null;*/
    background: launchpadmenubarbackground;
}

"homeLaunchpadSeparator"{
    contentMargins: containercontentmargins;
    opaque: true;
    /*bgpaint: null;*/
    background: homeLaunchpadSeparatorbackground;
}
