<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Servicio de gestion de emails -->
	<bean name="/distributor" class="com.ontimize.jee.server.hessian.OntimizeHessianExporter" lazy-init="true">
		<property name="service" ref="DistributorService" />
		<property name="serviceInterface" value="com.opentach.common.distributor.service.IDistributorService" />
		<property name="serializerFactory" ref="hessianSerializerFactory" />
		<property name="exceptionTranslator" ref="exceptionTranslator" />
		<!-- <property name="debug" value="true" /> -->
	</bean>
	
</beans>
